/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1, h2 { text-align: center; }

<<<<<<< HEAD
h2, h3 { margin-top:100px; }

=======
>>>>>>> e1005e36f9678645af1b194cae4e1c8cee4c5cde
.card-deck .card {
    margin-bottom: 5px;
    margin-right: 5px;
    height: 50px;
<<<<<<< HEAD
    background-color: Grey;
=======
}

.card {
	background-color: Grey;
>>>>>>> e1005e36f9678645af1b194cae4e1c8cee4c5cde
}

.card-title {
	text-align: center;
	line-height: 2;
}

.matched {
<<<<<<< HEAD
    background-color: White;
=======
        background-color: White;
>>>>>>> e1005e36f9678645af1b194cae4e1c8cee4c5cde
	text-align: center;
	line-height: 2;
}

.row {
	margin-left: 5px;
	margin-top: 5px;
}

.rightCol {
	float: right;
<<<<<<< HEAD
}
=======
}
>>>>>>> e1005e36f9678645af1b194cae4e1c8cee4c5cde
